name: Plugin builder and release

on:
  pull_request:
    branches: [ "main" ]
  release:
    types:
      - created
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      
      - name: Restore dependencies
        run: dotnet restore
      
      - name: Build
        run: dotnet build SteamAccess.csproj -c Release -o ./SteamAccess

      - name: Create release asset
        if: github.event_name == 'release'
        run: |
          zip -r SteamAccess-${{ github.event.release.tag_name }}.zip ./SteamAccess

      - name: Upload release asset
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./SteamAccess-${{ github.event.release.tag_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}